<!-- Title group  -->
<div class="title-group">
  <h1 class="mat-h1">Today's Food Trucks</h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>

<p *ngIf="FoodData.length <= 0" class="no-data">
  There is no food truck added yet!
</p>

<div class="container food-bg"   *ngIf="FoodData.length > 0">
  <div *ngFor="let item of FoodData">
    <span class="truck-item" style="">
       <div>{{ item.name }}</div>
       <img src="./assets/images/food_truck.png" class="truck-img" />
    </span>
  </div>
</div>
